body {
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/technology-world-map-background-4k_eyk-attzl__F0000.png");
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: contain;
  background-size: 90% 90%;
  text-align: center;
  font-weight: bold;
  line-height: 2em;
}

.container {
  margin-top: 150px;
}

#mc {
  /* display: inline; */
  color: black;
}